textarea {
  width: 200px;
}

label {
  display: inline-block;
  width: 85px;
  margin-bottom: 0auto;

}

ul{
     list-style:none;

}


section {
  color: black;
  text-align: center;
}

div {
  height: 100%;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}

#box {
  height:600px;
  width:350px;
  border: 2px;
  text-align: center;
  overflow: scroll;

}

#messages li {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border: 1px solid #666;
  margin: 5px;
  display: inline-block;
  position: relative;
  width: 300px;
  height: auto;
  background-color: lightyellow;
  text-align: left;
  padding-left: 5px;
}

/* Pattern styles */
.container {
  display: table;
  width: 100%;
}

/*.left-half {
  background-color: pink;
  position: absolute;
  left: 0px;
  width: 50%;
}
*/
.right-half {
 text-align: center;
 height: 100%;
 width: 30%;
 position: fixed;
 z-index: 1;
 top: 0;
 right: 0;
 background-color: honeydew;
 /*overflow-x: hidden;*/
 padding-top: 60px;
 transition: transform 0.5s;
 transform:translate(100%,0);
/* background-color: honeydew;
 height: 100%;
 position: absolute;
 top:0;
 right:0;
 text-align:center;
 border:1px solid black;*/
}

.right-half.open {
  transform:translate(0,0);
}

@media screen and (max-height: 680px) {
  .right-half {
    padding-top: 15px;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

.row {
  position: relative;
  transition: right 0.5s;
}

#chat_bubble {
  width: 50px;
  position: absolute;
  right: 100%;
  top: 55px;
}

circle {
  fill: white;
}

#chat_bubble:hover circle {
  animation: phase 1s infinite alternate;
}

#chat_bubble:hover #c2 {
  -webkit-animation-delay: 0.33s;
}

#chat_bubble:hover #c3 {
  -webkit-animation-delay: 0.66s;
}

@keyframes phase {
  to {
  fill: #098cc7;
  }
}

input[type=button] {padding:5px 15px; background:green; border:0 none;
    cursor:pointer;
    color: white;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
