*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
}

a { color: #00B7FF; }

#topLayer {
  height: 100%;
  width: 100%;
  margin-top: 54px;
  position: relative;
  transition: margin-left .5s;
}

#board {
  position: absolute;
  top: 0;
  left: 0;
}

.buttons {
  position: absolute;
}

#drawBoard {
  height:100%;
}

.slide {
 border: 1px solid black;
 text-align: center;
 height: 43%;
 width: 100%;
 position: fixed;
 z-index: 1;
 bottom: 0;
 background-color: #56a0ec;
 padding-top: 60px;
 transition: transform 0.5s;
 transform:translate(0,100%);
}

.slide.open {
  transform:translate(0,0);
}

.footer {
   text-align: center;
   color: white;
   position:fixed;
   bottom: 0px;
   height:52px;
   width: 100%;
   left: opx;
   right: 0px;
   display: inline-block;
}

#tool_icon {
  cursor: pointer;
  position: absolute;
  bottom: 100%;
}

canvas {
  cursor: url('../pencil.png'), auto;
}
