*,
html,
body {
  box-sizing: border-box;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  font-size: 14px;
  padding: 50px;
}

a { color: #00B7FF; }

#canvas {
  display: block;
}

#boardDiv {
  border: 2px solid black;
  width: 1005px;
  height: 1005px;
}
