<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <title>Sketch I/O</title>
    <link rel="icon" type="image/png" href="/favicon-pencil.ico">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><i class="fa fa-pencil fa-6" aria-hidden="true"></i> Sketch I/O</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a></li>
                <% if (user) { %>
                    <li><a href="/logout" class="logo" id='user-name' value=<%= user.name %>><%= user.name %> Logout</a></li>
                    <% } else { %>
                        <li><a href="/auth/google" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span>  Login with Google</a></li>
                        <% } %>
                    </ul>
                </div>
            </nav>

            <div id="topLayer">
                    <div class="left-half" id="drawBoard">


                        <canvas id="board"></canvas>
                        <div class="footer">
                            <div class="slide">
                                <span id="clear">
                               <button id="clear">Clear Board</button>
                              </span><br><br>
                                <span id="colors">Color
                                  <button id="black">Black</button>
                                  <button id="blue">Blue</button>
                                  <button id="red">Red</button>
                                  <button id="yellow">Yellow</button>
                                  <button id="green">Green</button>
                              </span><br><br>
                              <span id="sizes">Size
                                <button id="small">Small</button>
                                <button id="normal">Normal</button>
                                <button id="large">Large</button>
                              </span><br><br>
                              <span id="shapes">Shape
                                <button id="fill">Solid</button>
                                <button id="outline">Outline</button>
                                <button id="line">Line</button>
                                <button id="triangle">Triangle</button>
                                <button id="square">Square</button>
                                <button id="circle">Circle</button>
                              </span><br><br>
                              <span id="tools">
                                <button id="eraser">Eraser</button>
                                <button id="pencil">Pencil</button>
                              </span><br><br>
                            </div>
                            Artist Tools
                        </div>
                        </div>


                    <div class="right-half">
                        <svg version="1.1" id="chat_bubble" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
                            <path style="fill:#8AD5DD;" d="M249.289,466.44c25.104,0,49.256-4.016,71.912-11.352c41.464,64.112,174.736,56.648,174.736,56.648
                                c-69.36-39.184-85.24-87.496-88.864-106.8c46.368-42.624,75.44-103.768,75.44-171.712C482.505,104.416,378.089,0,249.289,0
                                S16.065,104.416,16.065,233.216C16.065,362.024,120.481,466.44,249.289,466.44z M358.945,195.888
                                c20.616,0,37.328,16.712,37.328,37.328s-16.712,37.328-37.328,37.328s-37.328-16.712-37.328-37.328S338.329,195.888,358.945,195.888
                                z M249.289,195.888c20.616,0,37.328,16.712,37.328,37.328s-16.712,37.328-37.328,37.328s-37.328-16.712-37.328-37.328
                                C211.961,212.6,228.673,195.888,249.289,195.888z M139.625,195.888c20.616,0,37.328,16.712,37.328,37.328
                                s-16.712,37.328-37.328,37.328s-37.328-16.712-37.328-37.328C102.297,212.6,119.009,195.888,139.625,195.888z"/>
                            <g>
                                <circle id='c1' cx="139.625" cy="233.2" r="37.328"/>
                                <circle id='c2' cx="249.281" cy="233.2" r="37.328"/>
                                <circle id='c3' cx="358.945" cy="233.2" r="37.328"/>
                            </g>
                        </svg>
                        <div id="box">
                            <ul id="messages" ></ul>
                        </div>

                    <div id="submit">
                     <% if (user) { %>
                    <!-- <label id="user-name" value=<%#= user.name %>><%#= user.name %></label> -->
                    <label>Message:</label><textarea id="new-msg"></textarea><br>
                        <input type="button" id="btn-send-msg" value=" Send Message ">
                          <% } else { %>
                         <% } %>

                    </div>


                    </div>

                </div>
            </div>
        </div>

        <%- include('../partials/scripts') %>
    </body>
    </html>
