<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>Sketch I/O</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
      <a href="" class="brand-logo left">Sketch It/Out!</a>
  <ul class="right">
    <% if (user) { %>
    <li><a href="/logout" class="logo">Logout</a></li>
    <% } else { %>
    <li><a href="/auth/google">Login with Google</a></li>
    <% } %>
  </ul>
  </head>
  <body>

   <section class="container">
    <div class="left-half">
    <article>
      <canvas id="board"></canvas>

    </article>
  </div>


   <div class="right-half">
    <article>

    <h1>CHAT</h1>
<div id="box">
    <ul id="messages" ></ul>
</div>



    <label>Your Name:</label><input id="user-name"><br><br>


    <label>Message:</label><textarea id="new-msg"></textarea><br>


    <input type="button" id="btn-send-msg" value=" Send Message ">




     </article>
  </div>
</section>

    <%- include('../partials/scripts') %>
  </body>
</html>
