<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head') %>
    <title>Sketch I/O</title>
    <link rel="icon" type="image/png" href="/favicon-pencil.ico">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><i class="fa fa-pencil fa-6" aria-hidden="true"></i> Sketch I/O</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>Home</a></li>
                <% if (user) { %>
                    <li><a href="/logout" class="logo">Logout</a></li>
                    <% } else { %>
                        <li><a href="/auth/google" class="btn btn-block btn-social btn-google"><span class="fa fa-google"></span>  Login with Google</a></li>
                        <% } %>
                    </ul>
                </div>
            </nav>

            <div class="container" id="topLayer">
                <div class="row">
                    <div class="col-sm-8" id="drawBoard">
	                    <canvas id="board"></canvas>
	                    <div class="footer">
	                    	<div class="slide">
	                    		<span id="clear">
	                    	   <button id="clear">Clear Board</button>
	                    	  </span><br><br>
	                    		<span id="colors">Color
			                      <button id="black">Black</button>
			                      <button id="blue">Blue</button>
			                      <button id="red">Red</button>
			                      <button id="yellow">Yellow</button>
			                      <button id="green">Green</button>
		                      </span><br><br>
		                      <span id="sizes">Size
		                        <button id="small">Small</button>
		                        <button id="normal">Normal</button>
		                        <button id="large">Large</button>
		                      </span><br><br>
		                      <span id="shapes">Shape
		                        <button id="fill">Solid</button>
		                        <button id="outline">Outline</button>
		                        <button id="line">Line</button>
		                        <button id="triangle">Triangle</button>
		                        <button id="square">Square</button>
		                        <button id="circle">Circle</button>
		                      </span><br><br>
		                      <span id="tools">
		                        <button id="eraser">Eraser</button>
		                        <button id="pencil">Pencil</button>
		                      </span><br><br>
                    		</div>
                    		Artist Tools
                    	</div>
                    	</div>

                    <div class="col-sm-4 right-half">
                        <div id="box">
                            <ul id="messages" ></ul>
                        </div>

                        <label>Your Name:</label><input id="user-name"><br><br>
                        <label>Message:</label><textarea id="new-msg"></textarea><br>
                        <input type="button" id="btn-send-msg" value=" Send Message ">
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/scripts') %>
    </body>
    </html>
