<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head') %>
</head>
<body>
<h1>Sketch I/O</h1><br>
  <!-- <canvas id="board"></canvas> -->
    <div id="boardDiv"></div>

    <button id="clear">Clear</button>

    <div id="colors">Color
      <button id="black">Black</button>
      <button id="blue">Blue</button>
      <button id="red">Red</button>
      <button id="yellow">Yellow</button>
    </div><br>

    <div id="sizes">Size
      <button id="small">Small</button>
      <button id="normal">Normal</button>
      <button id="large">Large</button>
    </div><br>

    <div id="Tools">Tool
      <button id="eraser">Eraser</button>
      <button id="pencil">Pencil</button>
    </div><br>

    <div id="shapes">Shape
      <button id="fill">Solid</button>
      <button id="outline">Outline</button><br>
      <button id="line">Line</button>
      <button id="triangle">Triangle</button>
      <button id="square">Square</button>
      <button id="circle">Circle</button>
    </div>
  <%- include('../partials/scripts') %>
</body>
</html>
